{$DOMAIN_NAME} {
tls /etc/caddy/certs/acidpictures_ink_chain.crt /etc/caddy/certs/acidpictures_ink.key
reverse_proxy /* http://app:8080
}

{$DOMAIN_NAME}:5555 {
reverse_proxy /* http://app:5555
}

{$DOMAIN_NAME}:4444 {
tls /etc/caddy/certs/acidpictures_ink_chain.crt /etc/caddy/certs/acidpictures_ink.key
reverse_proxy /* http://app:4444
}
